<div class="container">
  <div class="example-action-buttons">
    <!-- <button mat-button (click)="accordion.openAll()">Expand All</button> -->
    <!-- <button mat-button (click)="accordion.closeAll()">Collapse All</button> -->
  </div>
  <ng-container *ngFor="let qst of ate; let i = index">
    <mat-accordion class="example-headers-align" multi>
      <mat-expansion-panel class="content">
        <mat-expansion-panel-header>
          <mat-panel-title> {{ qst.id }} </mat-panel-title>
          <mat-panel-description>
            {{ qst.projetName }}

            <mat-icon>account_circle</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <table
          mat-table
          [dataSource]="dataSource[i]"
          matSort
          class="mat-elevation-z8"
        >
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">{{ element.name }}</td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef>Weight</th>
            <td mat-cell *matCellDef="let element">
              {{ (element.weight * 100).toFixed(2) }}%
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </mat-expansion-panel>
    </mat-accordion>
  </ng-container>
</div>
