<mat-card class="example-card">
  <mat-card-header style="text-align: center; margin: auto; display: block">
    <mat-card-title>Vos réponses sont envoyées</mat-card-title>
    <mat-card-subtitle>Merci pour votre avis</mat-card-subtitle>
  </mat-card-header>
  <div class="crop">
    <img
      mat-card-image
      src="https://images.unsplash.com/photo-1587047529377-a409aeb98f54?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1351&q=80"
    />
  </div>
  <mat-card-content>
    <p>
      Vos données seront traitées dans notre serveur, si vous souhaitez créer
      votre propre projet, vous pouvez vous inscrire pour un compte
      administrateur ou vous pouvez vous connecter si vous avez un autre projet
      à répondre.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/signup" color="primary">
      Créer un compte administrateur
    </button>
    <button mat-raised-button routerLink="/login" color="accent">
      Connexion
    </button>
  </mat-card-actions>
</mat-card>
