<mat-card class="example-card">
  <div class="crop">
    <img
      mat-card-image
      src="https://images.unsplash.com/photo-1531062916849-ac6624741870?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80"
      alt="Photo of a Shiba Inu"
    />
  </div>
  <mat-card-header style="text-align: center; margin: auto; display: block">
    <mat-card-title class="title">Plateforme décisionnelle</mat-card-title>
  </mat-card-header>
  <mat-card-content class="content">
    <p>
      L'informatique décisionnelle est un processus technologique qui analyse
      des données pour présenter des informations exploitables par les
      dirigeants, les cadres commerciaux et les autres utilisateurs, afin de
      leur permettre de prendre des décisions plus avisées.
    </p>
    <p>
      L'informatique décisionnelle englobe les différents outils, applications
      et méthodologies qui permettent à l'entreprise de collecter des données à
      partir de systèmes internes et de sources externes, de les préparer en vue
      d'une analyse, de développer des requêtes et de les appliquer à ces
      données.
    </p>
    <p>
      On en tire alors diverses vues, ou modes de visualisation, tels que des
      rapports et des tableaux de bord, pour mettre les résultats analytiques à
      la disposition des décideurs et des acteurs de l'entreprise.
    </p>
  </mat-card-content>
</mat-card>
